

.main {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 530px) {
    width: 60%;
    margin-inline: auto;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media screen and (min-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    overflow: auto;
  }

  @media screen and (min-width: 1366px) {
    grid-template-columns: repeat(4, 1fr);
  }  
}