.App {
  text-align: center;

  .navbar {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    height: 100%;
  }

  @media screen and (min-width: 1080px) {
    display: flex;

    .navbar {
      height: 100vh;
      width: 250px;
      justify-content: space-evenly;
    }
  }

}

